<h3>DragDrop</h3>
<div class="ui-g ui-fluid" style="height: 350px;">
    <div class="ui-g-12 ui-md-3">
        <h4>Componentes</h4>
        <p-tree [value]="filesTree7" draggableNodes="true" droppableNodes="true" dragdropScope="files"></p-tree>
    </div>

    <div class="ui-g-12 ui-md-1" style="text-align:center">
        <i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"></i>
    </div>

    <div class="ui-g-12 ui-md-3">
        <h4>Template</h4>
        <p-tree [value]="filesTree8" draggableNodes="true" droppableNodes="true" dragdropScope="files"></p-tree>
    </div>

    <div class="ui-g-12 ui-md-1" style="text-align:center">
<!--         <i class="fa fa-exchange" style="font-size:36px;margin-top: 28px;"></i> -->
    </div>

    <div class="ui-g-12 ui-md-3">
        <h4>XHTML gerado</h4>
        <p-tree [value]="filesTree9" draggableNodes="true" droppableNodes="true" dragdropScope="files"></p-tree>
    </div>

    <div class="ui-g-12 ui-md-1">

    </div>
</div>

<button (click)="onClick()"> gerar </button>